# ~/.config/systemd/user/brightctl-night.timer
[Unit]
Description=Run brightctl-night.service at 20:00 to decrease display brightness to 33 over a 30 minute period

[Timer]
OnCalendar=*-*-* 20:00:00
Persistent=false
RandomizedDelaySec=300
Unit=brightctl-night.service

[Install]
WantedBy=timers.target
