# ~/.config/systemd/user/brightctl-session.service
[Unit] 
Description=Set display brightness according to time after session login or unlock using run_brightctl.sh 
After=default.target
# After=graphical-session.target 
# may need to set as graphical-session.target to run after resume-unlock in GNOME session

[Service] 
Type=oneshot 
ExecStart=/bin/bash /home/%u/.local/bin/run_brightctl.sh 
ExecStartPre=/usr/bin/sleep 30
RemainAfterExit=no

[Install] 
WantedBy=default.target
# WantedBy=graphical-session.target
